@import "reset";
@import "card";
@import "font";
@import "variables";
@import "base";
@import "button";
@import "form";
@import "table";
@import "helper";

.d-block {
    display: block !important;
}
.td-empty {
    text-align: center !important;
    color: red;
    font-size: 16px;
    padding: 10px !important;
}
@import "../icon/font-awesome/scss/font-awesome";
@import "../icon/line-awesome/scss/line-awesome";
