.articles {
    .item-desktop {
        width: 100%;
        display: flex;
        padding: 15px 0;
        .item-content {
            flex: 0 0 70%;
            padding-right: 20px;
        }

        .title {
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical!important;
            font-weight: 500;
            a {
                color: rgba(0,0,0,.84);
                font-size: 20px;
            }
        }
        .desc {
            font-size: 14px;
            color: #444;
            line-height: 1.7;
            font-weight: 400;
        }
        .time {
            font-size: 13px;
            color: rgba(0,0,0,.54);
            margin-top: 6px;
        }

        .thumb {
            max-height: 155px;
            flex: 0 0 30%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 2px;
            }
        }
    }
}
.content-info {
    .title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 600;
        color: rgba(0,0,0,.84);
    }
    .desc {
        line-height: 1.7;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0,0,0,.54);
    }
}