.box-filter {
    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px inset;
        a {
            width: 50%;
            text-align: center;
            display: block;
            padding: 8px;
        }
    }
    .drop-down-filter {
        display: none;
        box-shadow: 0 5px 12px 6px rgba(0,0,0,.1);
        padding: 10px;
        margin-top: 10px;
        ul {
            list-style: square;
            padding-left: 20px;
            li {
                list-style: unset;
                a {
                    display: block;
                    color: #212121;
                    padding: 4px 10px;
                    &.active{
                        color: $text-orange;
                    }
                }
            }
        }
    }
}