//#overlay-box-filter{
//  border: 0;
//  background-color: #000;
//  bottom: 0;
//  left: 0;
//  opacity: 0;
//  position: fixed;
//  top: 0;
//  -webkit-transition: all .6s;
//  transition: all .6s;
//  right: 0;
//  visibility: hidden;
//  z-index: 3;
//}
//#overlay-box-filter.active {
//  opacity: .6;
//  visibility: visible;
//}

.box-all-filter{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  .box-filter-container{
    display: none;
    padding: 10px;
    box-shadow: 0 -3px 15px rgba(0,0,0,.12);
    background: #fff;
    height: 100%;
    overflow-y: auto;
  }
  &__head{
    padding: 3px 0;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 5px;
    h3{
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    a{
      position: absolute;
      right: 10px;
      top: 10px;
      color: #484848;
      font-size: 20px;
      cursor: pointer;
    }
  }
  &__option{
    height: 350px;
    overflow-y: scroll;
    margin: 10px 0;

  }
  &__button{
    padding: 5px 10px;
  }
}
.filter-active{
  top: 0;
}