.search-page {
    display: flex;
    margin-top: 20px;

    &__params {
        flex: 0 0 15%;
        margin-right: 15px;
        .form-location-mb {
            display: none;
        }
        h2 {
            font-size: 16px;
            text-transform: capitalize;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        form {
            .select2-container {
                width: 100% !important;
            }

            h6 {
                font-size: 16px;
                margin-bottom: 0.5rem;
            }

            ul {
                list-style: none;
                margin: 0;
                overflow: hidden;
                padding: 0;

                li {
                    font-size: 13px;
                    margin-bottom: 8px;

                    a {
                        color: #757575;

                        span {
                            position: relative;
                            padding-left: 25px;

                            &:before {
                                content: "";
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                border: 1px solid #a8a8a8;
                                border-radius: 4px;
                                left: 0;
                                bottom: 0;
                            }
                        }
                    }

                    &.active {
                        a {
                            color: #E91E63;

                            span {
                                font-weight: 500;

                                &:before {
                                    border: 1px solid #E91E63;
                                }

                                &:after {
                                    transform: rotate(45deg) scale(1);
                                    position: absolute;
                                    border: 2px solid #E91E63;
                                    border-top: 0;
                                    border-left: 0;
                                    content: " ";
                                    width: 5px;
                                    left: 5px;
                                    top: 5px;
                                    height: 8px;
                                    -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
                                    -o-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
                                    transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    &__box-project {
        flex-grow: 1;

        > h2, h1 {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .list-project {
            .project {
                display: flex;
                padding: 15px;
                position: relative;
                border-bottom: 1px solid #f2f2f2;

                &:last-child {
                    border-bottom: none;
                }

                &__img {
                    flex: 0 0 200px;
                    position: relative;

                    a {
                        display: block;
                    }

                    img {
                        width: 100%;
                        border-radius: 5px;
                        height: 170px;
                        object-fit: cover;
                    }
                }

                &__info {
                    flex-grow: 1;
                    padding-left: 15px;

                    a.btn {
                        color: white !important;
                        border: 1px solid;
                        background-color: rgb(255, 199, 0);
                        //background-color: #ef7733;
                        padding: 4px 8px;
                        font-size: 16px;
                        text-transform: uppercase;
                    }

                    > h3 {
                        margin-bottom: 5px;

                        a {
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .start {
                            border-radius: 2px;
                            background: rgb(0, 96, 196);
                            color: white;
                            font-size: 12px;
                            padding: 1px 4px;
                            i {
                                margin-right: 2px;
                                font-size: 12px;
                            }
                        }
                    }

                    i {
                        margin-right: 5px;
                    }

                    .place, .price {
                        margin-bottom: 5px;
                        line-height: 20px;
                    }

                    .price {
                        font-size: 16px;

                        span {
                            font-weight: 600;
                            color: #ef7733;
                        }

                        i {
                            color: #666;
                        }

                        position: absolute;
                        right: 10px;
                        top: 17px;
                    }

                    .from-to {
                        bottom: 0px;
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        color: rgb(112, 112, 112);

                        svg {
                            height: 122px;
                            width: 12px;
                        }

                        &-content {
                            margin-left: 9px;
                            position: relative;
                            height: 70px;

                            .duration {
                                margin: 4px 0;
                            }

                            .content {
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                line-height: 20px;
                            }

                            .hour {
                                color: rgb(72, 72, 72);
                                font-size: 18px;
                                font-weight: bold;
                            }

                            .place {
                                width: auto;
                                color: rgb(72, 72, 72);
                                font-size: 16px;
                                //width: 178px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin-bottom: 0;
                            }

                            .form {
                                position: absolute;
                                top: 0;
                            }
                        }
                    }

                    .tags {
                        width: 65%;
                        span {
                            background-color: #ef7733;padding: 3px 7px;margin-bottom: 5px;
                            margin-right: 5px;color: white;border-radius: 10px;display: inline-block;
                            font-size: 13px;
                        }
                    }

                    .footer {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                    }
                }

                &:hover {
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                }
            }

            .pj-active {
                background: #F6F6F6;
            }
        }

        .search-relative {
            margin: 50px 0;

            .main-key {
                margin-bottom: 20px;

                > a {
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .description {
                margin-bottom: 35px;
            }

            .relative-group {
                display: flex;
                flex-flow: row wrap;

                > li {
                    width: calc(100% * 1 / 3 - 30px);
                    margin-right: 30px;
                    margin-bottom: 5px;

                    > a {
                        color: $color_sky_blue;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &__box-sidebar {
        flex: 0 0 30%;
        max-width: 30%;
        padding: 15px;
        background: #F6F6F6;

        .box-quick-view {
            position: sticky;
            top: 65px;
            display: block;

            .project-action {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;

                &__button {
                    .btn {
                        padding: 4px 20px;
                    }
                }

                &__next-pre {
                    .pre-ql {
                        margin-right: 20px;

                        > i {
                            margin-right: 10px;
                        }
                    }

                    .next-ql {
                        > i {
                            margin-left: 10px;
                        }
                    }
                }
            }

            .project-info {
                padding: 15px;
                background: #fff;
                overflow-y: scroll;
                height: 93vh;

                > h3 {
                    a {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }

                .item-info {
                    margin-top: 10px;

                    > h4 {
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                }

                .images {
                    overflow-x: auto;
                    white-space: nowrap;

                    > img {
                        width: 250px;
                        height: 220px;
                        margin-right: 5px;
                        border-radius: 5px;
                    }
                }
            }

            .images::-webkit-scrollbar {
                height: 4px; /* height of horizontal scrollbar â† You're missing this */
                width: 4px; /* width of vertical scrollbar */
                border: 2px solid #dedede;
            }

            .images::-webkit-scrollbar-thumb:horizontal {
                background: #999;
                border-radius: 10px;
            }

            .overview {
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 991px) {
    .search-page {
        .search-page__params {
            position: fixed;
            left: -100%;
            box-shadow: 0 0 15px rgba(0, 0, 0, .1);
            .form-location-mb {
                display: block;
            }
            .close-filter {
                position: absolute;
                right: 0;
                top: 7px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border: 0;
                text-align: center;
                background-color: transparent;
                box-shadow: none;
                color: rgb(67, 137, 227);
            }
        }

        .search-page__params.active {
            left: 0;
            z-index: 9;
            background: white;
            width: 100%;
            padding: 10px;
            top: 50px;
            overflow-y: auto;
            height: 100%;
            padding-bottom: 100px;
            button {

            }
        }

        &__box-project {
            > h2 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            .list-project {
                .project {
                    &__info {
                        padding-left: 0;

                        .contact {
                            display: none;
                        }

                    }

                }
            }

            .search-relative {
                .description {
                    margin-bottom: 10px;
                }

                .relative-group {
                    li {
                        width: calc(100% * 1 / 1 - 30px);
                        margin-bottom: 5px;
                    }
                }
            }
        }

        &__box-sidebar {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .search-page {
        &__box-project {
            .list-project {
                .project {
                    padding: 15px 0;
                    flex-direction: column;

                    > h2 {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }

                    &__img {
                        flex: none;

                        > a {
                            img {
                                object-fit: cover;
                                height: 200px;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .search-page {
        &__box-project {
            .list-project {
                .project {
                    padding: 15px 0;

                    &__img {
                        flex: 0 0 30%;

                        > a {
                            img {
                                height: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .search-page {
        &__box-project {
            .list-project {
                .project {
                    padding: 15px 15px 15px 0;
                    flex-direction: column;

                    &__img {
                        flex: none;

                        > a {
                            img {
                                object-fit: cover;
                                height: 200px;
                            }
                        }
                    }

                    &__info {
                        padding-left: 0;
                    }
                }
            }
        }

        &__box-sidebar {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}