.tab-nav {
    a {
        color: #ef7733;
        padding: 5px 10px;
        display: inline-block;
        border-bottom: 1px solid #dedede;
        font-weight: bold;
    }
    a.active {
        border-bottom: 2px solid #ef7733;
    }
}
.tab-content {
    &-item {
        display: none;
        &.active {
            display: block;
        }
    }
}