@import "~select2/dist/css/select2.min.css";

//.select2 {
//    width: 100% !important;
//}

.select2-container--default .select2-selection--multiple {
    border-radius: 0;
}

.conha-select2-container, .multiple-select2-container {
    border: 2px solid #f2f2f2 !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid white !important;
}

.conha-select2-container {
    height: 45px !important;
    width: 150px !important;
    border-radius: 0 !important;
    .select2-selection__rendered {
        line-height: 45px !important;
    }
    .select2-selection__arrow {
        height: 45px !important;
    }
}
.conha-district-select2-container {
    height: 45px !important;
    border-radius: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    .select2-selection__rendered {
        line-height: 45px !important;
    }
    .select2-selection__arrow {
        height: 45px !important;
    }
}
.conha-select2-container {
    height: 45px !important;

    ul.select2-selection__rendered {
        padding: 4px 10px !important;
        height: 45px;

        > li {
            margin-right: 5px;
        }

        .select2-search {
            .select2-search__field {
                border: 0 !important;
                line-height: 24px !important;
            }
        }
    }

    span.select2-selection__rendered {
        line-height: 35px !important;
    }

    .select2-selection__arrow {
        height: 38px !important;
    }
}

.multiple-select2-container {
    ul.select2-selection__rendered {
        display: block !important;
        padding: 0 10px !important;
        height: 38px;
        overflow-y: auto !important;

        .select2-search {
            .select2-search__field {
                border: 0 !important;
                line-height: 28px !important;
            }
        }
    }

    span.select2-selection__rendered {
        line-height: 35px !important;
    }

    .select2-selection__arrow {
        min-height: 38px !important;
    }

    .select2-selection__choice {
        margin-top: 8px !important;
    }

    .select2-selection__clear {
        margin-top: 7px !important;
        margin-right: 0 !important;
    }
}

.conha-select2-dropdown {
    border: 2px solid #f2f2f2 !important;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}


// Select2 Search

.conha-location-select2-container {
    height: 60px !important;
    line-height: 60px;
    border: 2px solid #f2f2f2 !important;
    //border-radius: 0;
    .select2-selection__arrow {
        display: none !important;
    }
    .select2-selection__rendered {
        line-height: 58px !important;
    }
}
