.breadcrumb {
    background-color: #F1F4F6;
    margin-bottom: 10px;
    .breadcrumb-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul {
            display: flex;
            li {
                a,span {
                    i {
                        padding-left: 10px;
                    }
                    padding: 10px;
                    display: inline-block;
                    &:first-child{
                        padding-left: 0;
                    }
                    text-transform: capitalize;
                }
            }
        }
        .pre-next{
            >button{
                height: 30px;
                padding: 0 10px;
            }
            .pre-pj{
                background: #C1C1C1;
                >i{
                    margin-right: 5px;
                }
            }
            .next-pj{
                background: #262637;
                color: #fff;
                >i{
                    margin-left: 5px;
                }
            }
        }
    }
}
@media (max-width: 575px){
    .breadcrumb{
        .breadcrumb-content{
            align-items: unset;
            flex-direction: column;
            padding: 10px 15px;
            ul {
                display: flex;
                li {
                    a, span {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}